output/*
deployment/*
tests/*
executables/*
use_cases/*
documentation/*
archive/*
snippets/*

# plus everything from .gitignore
.idea
.idea/*
.DS_Store

__pycache__/*
*/__pycache__/*

data/data/*

output/*
output
output/

*.png
*.svg
*.tsv
*.parquet
*.pyc
*.json

*.coverage